<div class="logo-container">
  <img src="assets/logos/logo.png" alt="Football Quiz Logo" class="logo">
</div>

<div class="search-container">
  <app-search-box
    [players]="players"
    (playerSelected)="onPlayerGuessed($event)"
    (showResultsChange)="onShowResultsChange($event)"
  >
  </app-search-box>
</div>

<div *ngIf="showResults" class="comparison-results-list">
  <app-result-list 
    [guessedPlayer]="guessedPlayer"
    [showButton]="showButton"
    [selectedPlayer]="selectedPlayer"
    (showButtonChange)="onShowButtonChange($event)"
    (showResultsChange)="onShowResultsChange($event)"
    (tentativeChange)="onTentativeChange($event)"
  >
  </app-result-list>
</div>
