.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-elevation-z8 {
  background-color: #b4b3b3;
}

.mat-mdc-row {
  background-color: #8f8f8f;
}

.correct-tile {
  background-color: green; 
}


.fi {
  font-size: 3em;
  width: 48px;
  height: 36px;
  margin-right: 15px;
  display: inline-block;
}

.team-logo{font-size: 3em;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  display: inline-block;
}

.player-option {
  padding: 8px 16px;
}

.player-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  flex: 1;
}

.details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.team-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.fi {
  font-size: 1.2em;
}

.position {
  min-width: 60px;
  text-align: right;
}

.info-icon {
  margin-bottom: 10px; /* Adjust spacing between icon and table */
  cursor: pointer;
  font-size: 24px;
}